@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Zugether</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<!-- googleFonts -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
	<!-- font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<!-- animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- cssReset -->
	<link rel="stylesheet" href="~/css/cssReset.css" asp-append-version="true" />
	<!-- site -->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="~/css/site.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/testZugether1.styles.css" asp-append-version="true" />


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.0/axios.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.9/signalr.min.js"></script>
</head>
<body>
	@{
		// bool isLogin = ViewContext.HttpContext.Session.GetString("isLogin") == "true";

		bool isLogin = true;
	}

	<nav class="navbar bg-primary">
		<a asp-controller="Home" asp-action="Index" class="">
			<img src="~/images/Logo.jpg" alt="logo" class="logo" style="width:170px; height:50px" />
		</a>
		<ul class="menu bg-primary ">
			<li class="nav-item">
				<a href='#' class="navLink w-100 p-3 lightSecondary">
					文章區
				</a>
			</li>
			@if (isLogin)
			{
				@*改成用ajax，送會員編號*@
				<li class="nav-item">
					<a href="#" class="navLink w-100 p-3 lightSecondary" id="favoriteRoom">
						<i class="bi bi-heart-fill me-2"></i>我的收藏
					</a>
					<div id="loading-container"></div>
				</li>
				<li class="nav-item">
					<a href="/Home/testImages" class="navLink btn w-100 p-3 lightSecondary">
						<i class="bi bi-person-fill me-2"></i>userName
					</a>
					@*<a href="/Member/Notify" class="navLink btn w-100 p-3 lightSecondary" id="memberName">
				<i class="bi bi-person-fill me-2"></i>
				</a>*@
				</li>
				<li class="nav-item"><button type="button" class="navLink btn w-100 p-3 lightSecondary">登出</button></li>
			}
			else
			{
				@*以下這行有增加屬性:data-bs-toggle="modal" data-bs-target="#loginModal"*@
				<li class="nav-item"><button type="button" class="navLink btn w-100 p-3 lightSecondary" data-bs-toggle="modal" data-bs-target="#loginModal">登入 / 註冊</button></li>
			}
		</ul>
		<div class="burger">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</nav>

	@*以下是登入畫面*@
	<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		 aria-labelledby="loginModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button id="btn-closelogin" type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body" id="loginInfo">
					<form class="needs-validation">
						<div class="mb-3">
							<label for="loginEmail" class="form-label">Email</label>
							<input type="email" class="form-control is-invalid" id="loginEmail" placeholder="請輸入信箱"
								   name="loginEmail" value="" required>
							<div class="invalid-feedback">Email 為必填</div>
						</div>
						<div class="mb-3">
							<label for="loginPassword" class="form-label">密碼</label>
							<input type="password" class="form-control is-invalid" id="loginPassword"
								   placeholder="請輸入密碼" name="loginPassword" value="" minlength="6" required>
							<div class="invalid-feedback">密碼為必填</div>
						</div>
						<div class="mb-3 d-flex justify-content-between align-items-center">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="remember" disabled>
								<label class="form-check-label" for="remember"
									   style="line-height: 1.5;">記住Email</label>
							</div>
							<button type="button" class="btn">忘記密碼?</button>
						</div>
						<div class="flex-column border-top-0">
							<button type="submit" class="btn btn-primary w-100 mb-2">登入</button>
							@Html.ActionLink("註冊", "Register", "Home", null, new { @class = "btn btn-secondary w-100" })
						</div>
					</form>
					<!-- 第三方登入按鈕 -->
					<div id="otherLoginContent">
						<hr>
						<a href="@Url.Action("GoogleLogin", "Home")" class="btn w-100 d-flex align-items-center justify-content-center mt-2">
							<img src="~/images/Google.png" alt="Google icon" class="me-2" id="googleImg" style="max-height:30px;">使用Google登入
						</a>
						<button id="FBLogin" type="button" class="btn w-100 d-flex align-items-center justify-content-center mt-2">
							<img src="~/images/facebook.png" alt="" class="me-2" id="facebookImg" style="max-height:30px;">使用Facebook登入
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*登入畫面程式碼到這邊結束*@

	<main role="main">
		@RenderBody()
	</main>


	<footer class="bg-primary footer py-5">
		<div class="container">
			<ul class="pages d-flex align-items-center justify-content-center mb-3">
				<li><a href="/" class='px-4 py-3'>首頁</a></li>
				<li><a href="/Home/About" class='px-4 py-3'>關於我們</a></li>

				<li><a href="/Home/Contact" class='px-4 py-3'>聯絡我們</a></li>
			</ul>
			<ul class="contact d-md-flex align-items-center justify-content-center text-white text-center">
				<li class="px-3 py-3"><a href="tel:+0912345678"><i class="bi bi-telephone me-3"></i>0912345678</a></li>
				<li class="px-3 py-3"><a href="mailto:a1234@gmail.com"><i class="bi bi-envelope me-3"></i>a1234@gmail.com</a></li>
				<li class="px-3 py-3"><p>地址 :台中市公益路二段51號18樓</p></li>
			</ul>
		</div>
	</footer>


	@await RenderSectionAsync("Scripts", required: false)
	<!-- site js -->
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		$(function () {
			
			var isLogin = @JsonConvert.SerializeObject(ViewContext.HttpContext.Session.GetString("isLogin") == "true");
			var memberID, memberName, memberEmail;
			if (isLogin) {
				memberID = sessionStorage.getItem("memberID");
				memberName = sessionStorage.getItem("memberName");
				memberEmail = sessionStorage.getItem("memberEmail");
			}
			$(".burger").on("click", function () {
				$(".burger").toggleClass("active");
				$(".menu").toggleClass("active");
			})
			$(".navLink").on("click", function () {
				$(".burger").toggleClass("active");
				$(".menu").toggleClass("active");
			})

			//帶入會員姓名
			if (isLogin) {
				$('#memberName').append(memberName);
			}
			var forget = document.querySelector("#loginInfo>form>.d-flex>button")
			//保留原始畫面
			var loginModal = $(".modal-body>form");
			var otherLogin = $(".modal-body>div")
			//忘記密碼點擊事件
			$(forget).on('click', forgetpw)
			// 點擊忘記密碼時原本的登入視窗隱藏並顯示輸入email
			function forgetpw() {
				loginModal.detach();
				otherLogin.detach();

				$(".modal-body").append('<div class="input-group mb-3"><input type="email" name="" id="validateEmail" placeholder="請輸入Email" class="form-control w-75"><button type="button" class="btn btn-primary">驗證信箱</button><div class="invalid-feedback">Email格式錯誤</div></div>')

				var emailverifybtn = document.querySelector("#loginModal > div > div > div.modal-body > div > button")
				//驗證信箱點擊事件
				$(emailverifybtn).on('click', emailverify)

				//點擊驗證信箱時，驗證成功會跑出密碼輸入畫面，驗證失敗會跑出錯誤訊息
				function emailverify() {
					var userinput = $("#validateEmail").val()
					//email驗證格式(pattern)
					var ep = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
					//驗證電子信箱格式
					if (userinput == "" | userinput.search(ep) == -1) {
						// alert("電子信箱輸入格式錯誤")
						$("#validateEmail").addClass('is-invalid')
					} else {
						$("#validateEmail").removeClass('is-invalid')
						// 顯示輸入密碼畫面
						$(".modal-body").append(
							'<form class="" id="resetPWForm"><div class="mb-3"><label for="resetPw" class="form-label">密碼</label><input type="password" class="form-control undefined" id="resetPw" placeholder="最少6位數密碼" minlength="6" name="resetPw" value="" required></div><div class="mb-3"><label for="checkResetPw" class="form-label">確認密碼</label><input type="password" class="form-control undefined" id="checkResetPw" placeholder="最少6位數密碼" minlength="6" name="checkRestPw" value="" required><div class="invalid-feedback">與密碼不符</div></div><div><button type="submit" class="btn btn-primary w-100 mb-2">送出</button></div></form>')
						// 將按鈕及input變成不可點擊更改
						let inputtext = document.getElementById('validateEmail')
						inputtext.disabled = true;
						emailverifybtn.disabled = true;
					}
					//取得重設密碼表單
					let resetPWForm = document.getElementById('resetPWForm')


					resetPWForm.addEventListener('submit', function (event) {
						event.preventDefault();

						//取得新密碼 &新確認密碼
						let resetPw = document.getElementById("resetPw");
						let checkResetPw = document.getElementById("checkResetPw");
						//驗證密碼是否相符
						if (checkResetPw.value != resetPw.value) {
							checkResetPw.classList.add('is-invalid')
						} else {
							checkResetPw.classList.remove('is-invalid')
							this.submit();
						}
					})
				}
			}
			//點擊登入面的X會恢復顯示最一開始的畫面，並移除忘記密碼畫面
			$("#btn-closelogin").on('click', function () {
				$('.modal-body>div').detach();
				$('.modal-body>form').detach();

				$(".modal-body").append(loginModal);
				$(".modal-body").append(otherLogin);

			})
			//控制 記住Email 在使用者有輸入Eamil時才可以勾選
			let rememberEmail = document.getElementById('remember')
			let loginEmail = document.getElementById('loginEmail')
			// 監聽Email輸入事件
			loginEmail.addEventListener('input', function () {
				if (loginEmail.value.length > 0) {
					rememberEmail.disabled = false;
				} else {
					rememberEmail.disabled = true;
					rememberEmail.checked = false;
				}
			});
			//登入後點擊UserName跳轉會員頁面
			$('.bi-person-fill').closest('.nav-item').on('click', function () {

				window.location.href = "/Member/Notify";

			})
				// 	$('.menu').on('click','#favoriteRoom',function(e){
				// 			e.preventDefault();
				// console.log("memberID=", memberID);
				// $.ajax({
				// 	url: '@Url.Action("FavoriteMemberID", "Member")',
				// 	type: "POST",
				// 	data: { memberID: memberID },
				// 	success: function (response) {
				// 		// console.log(response.message, response.state);
				// 		$('.loading-container').load('/partialView/Loading', {
				// 			IsLoading: true,
				// 			Time : 2000
				// 		});
				// 		window.location.href = "/Member/FavoriteRoom";
				// 	},
				// });
				// 	});
			//我的收藏
			$('#favoriteRoom').click(function (e) {
				e.preventDefault();
				console.log("memberID=", memberID);
				$.ajax({
					url: '@Url.Action("FavoriteMemberID", "Member")',
					type: "POST",
					data: { memberID: memberID },
					success: function (response) {
						// console.log(response.message, response.state);
						$('#loading-container').load('/partialView/Loading', {
							IsLoading: true,
							Time : 2000
						});
						window.location.href = "/Member/FavoriteRoom";
					},
				});
			});
			// document.getElementById('FBLogin').addEventListener('click', function () {
			//     確認FB登入按鈕可以成功點及觸發事件，暫時設定點擊時跳轉FB首頁
			//     window.location.href = "https:www.facebook.com/?locale=zh_TW";
			// })

		});

	</script>
</body>
</html>
