@using testZugether1.DTO
@using Newtonsoft.Json
@model RoomViewModel
@{

}
<style>
	/* 留言區頭貼 */
	.user-shot {
		height: 40px;
		width: 40px;
	}

	#user-shot:hover {
		cursor: pointer;
		transform: scale(2) translateX(10px) translateY(10px);
		transition: transform 0.3s ease; /* 添加平滑過渡效果 */
	}
	/* 訊息區 */
	.messageBubble {
		background-color: #FFDDAA;
		box-shadow: 5px 5px 5px #666666;
		/* 水平偏移、垂直偏移、模糊半徑、顏色 */
	}
	/* 回覆 */
	.reply {
		margin: 10px 5px;
		margin-left: 0;
		color: #BB5500;
	}
	.reply:hover {
		color: blue;
		text-decoration: underline;
		/* 變更游標為手指 */
		cursor: pointer;
	}
	/* 取消回覆 */
	.cancel-reply-text{
		color: #BB5500;
	}
	.cancel-reply-text:hover {
		color: blue;
		text-decoration: underline;
		/* 變更游標為手指 */
		cursor: pointer;
	}
	/* 回覆會員姓名 */
	#reply-member-name:hover{
		color: blue;
		text-decoration: underline;
		/* 變更游標為手指 */
		cursor: pointer;
	}
	.messageTime {
		font-size: 16px;
		margin-left: 5px;
	}
	/* 留言內容 */
	.message-text {
		margin: 10px 0;
	}
	/* 沒有的房間設備 */
	.noDevice {
		color: gray;
		text-decoration: line-through;
	}

	/* 房間設備的文字 */
	.room-text {
		margin: 0px;
		width: 100px;
	}
	/* 設備清單文字 */
	.item-space {
		width: 100px;
		margin-top: 5px;
		font-size: 18px;
	}
	/*google font*/
	.material-symbols-outlined {
		font-size: 20px;
		margin-bottom: 5px;
	}

	@@media (max-width: 768px) {
		.material-symbols-outlined {
			font-size: 18px !important;
		}
	}
	/*留言區會員姓名*/
	#member-name:hover {
		color: blue;
		text-decoration: underline;
		/* 變更游標為手指 */
		cursor: pointer;
	}
	/*回覆者姓名*/
	.reply-member-name {
		color: red;
		margin-right: 5px;
	}

</style>

<h2>這邊是SearchController</h2>
<section class="room-area">
	<div class="container">
		<div class="mb-3">
			<button class="btn btn-secondary  me-2" id="return-btn">
				<span class="material-symbols-outlined arrow-back">
					arrow_back
				</span>上一頁
			</button>
		</div>
		<!-- 圖片幻燈片 -->
		@if (Model.roomImages != null && Model.roomImages.Any())
		{
			<div class="carousel-container">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						@for (int i = 0; i < Model.roomImages.Count; i++)
						{
							var image = Model.roomImages[i];
							if (image.room_photo != null)
							{
								string imageBase64 = Convert.ToBase64String(image.room_photo);
								// 從資料庫讀取 photo類型
								string imageSrc = $"data:{image.photo_type};base64,{imageBase64}";
								<div class="carousel-item @(i == 0 ? "active" : "")">
									<img src="@imageSrc" class="d-block w-100" alt="Room image">
								</div>
							}
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		}
		else
		{
			<div class="carousel-container">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="~/img/search/room1.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="~/img/search/room2.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="~/img/search/room1.jpg" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		}

		<div class="information-div">
			<h1 class="information-text">房間資訊</h1>
			<hr class="red-hr">
		</div>

		<div class="card">
			<div class="row d-flex p-2">
				<div class="col-md-6 ">
					<div class="mb-2 d-flex align-items-center">
						<strong class="" style="font-size:24px;">@($"{Model.Room?.room_title}")@($"{Model.Room?.room_type}")</strong>
					</div>
					<div class="row row-cols-2 row-cols-md-1">
						<div class="mb-2 col-6 col-md-12 align-items-center ">
							<span class="material-symbols-outlined me-2">floor</span>樓層 : @($"{Model.Room?.floor}")樓
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">night_shelter</span>房型 : @($"{Model.Room?.room_type}")
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">bed</span>床型 : @($"{Model.Room?.bed_type}")
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">paid</span>租金 : @($"{Model.Room?.rent}")/月(不含水電及管理費月)
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">payments</span>押金 : @($"{Model.Room?.deposit}")元
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">money_bag</span>租金繳交方式 : @($"{Model.Room?.pay_type}")
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">receipt_long</span>租約型式 : @($"{Model.Room?.lease_type}")
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">paid</span>管理費 : @($"{Model.Room?.management_fee}")元/月
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2"
								  style="transform: rotate(-45deg);">width</span>房間大小 : @($"{Model.Room?.room_size}")坪
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">person</span>徵求人數 : 尋求@($"{Model.Room?.roommate_num}")位
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">location_on</span>地址 : @($"{Model.Room?.address}")
						</div>
						<div class="mb-2 col-6 col-md-12 align-items-center">
							<span class="material-symbols-outlined me-2">work</span>希望室友工作時間 : @($"{Model.Room?.perfer_jobtime}")
						</div>
					</div>
					
					<div class="mb-2 d-flex align-items-start">
						<span class="material-symbols-outlined me-2">folded_hands</span>理想室友 :
						@($"{Model.Room?.roommate_description}")
					</div>
				</div>
				<div class="col-md-6">
					<!--AIzaSyCgNkI2mdCb-rdHhIP4dECAehv5rE6N_KI-->
					<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgNkI2mdCb-rdHhIP4dECAehv5rE6N_KI&q=@Uri.EscapeDataString(Model.Room.address)"
							width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade">
					</iframe>

					@* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.6848374243154!2d121.45607071052987!3d25.010822939132726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a81d1e80379b%3A0x6e5b320368af0131!2zMjIw5paw5YyX5biC5p2_5qmL5Y2A5paH5YyW6Lev5LiA5q61MjbomZ8!5e0!3m2!1szh-TW!2stw!4v1729333721367!5m2!1szh-TW!2stw"
					width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
					</iframe>*@
				</div>
			</div>
			<hr style="border-style:solid;border-width:1px;border-color:black;">
			@*房間設備*@
			<div class="row d-flex p-2">
				<h3>房間設備</h3>
				<!-- flex-wrap自動換行 -->
				<div class="d-flex flex-wrap" id="room-equipment">
					<!--false=>設定d-none-->
					<div class="d-flex align-items-center px-2 item-space " id="bed">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							bed<span class="room-text">床</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="wardrobe">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							shelves<span class="room-text">衣櫃</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="room_table">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							table_restaurant<span class="room-text">桌子</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="chair">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							chair_alt<span class="room-text">椅子</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="kitchen">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							kitchen<span class="room-text">廚房</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="extinguisher">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							fire_extinguisher<span class="room-text">滅火器</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space" id="tv">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							tv<span class="room-text">電視</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="wifi">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							wifi<span class="room-text">網路</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space" id="monitor">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							assistant_device<span class="room-text">監視器</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="private_washer">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							local_laundry_service<span class="room-text">洗衣機(獨立)</span>
						</span>
					</div>
				</div>
			</div>
			<hr style="border-style:solid;border-width:1px;border-color:black;">
			@*環境公設*@
			<div class="row d-flex p-2">
				<h3>環境公設</h3>
				<!-- flex-wrap自動換行 -->
				<div class="d-flex flex-wrap" id="public-equipment">
					<!--false=>設定d-none-->
					<div class="d-flex align-items-center px-2 item-space " id="balcony">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							balcony<span class="room-text">陽台</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="elevator">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							elevator<span class="room-text">電梯</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="smoking">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							smoking_rooms<span class="room-text">可抽菸</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space me-4" id="keep_pet">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							pets<span class="room-text">可養寵物</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space me-5" id="trash_cart">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							delete<span class="room-text">垃圾子母車</span>
						</span>
					</div>
					<div class="d-flex align-items-center px-2 item-space " id="public_washer">
						<span class="material-symbols-outlined text-success d-flex align-items-center">
							local_laundry_service<span class="room-text">洗衣機(共用)</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- card結束 -->
		<div class="information-div">
			<h1 class="information-text">發布者資訊</h1>
			<hr class="red-hr">
		</div>
		<div class="card">
			<div class="row d-flex">
				<div class="col-md-4 d-flex justify-content-center align-items-center">
					@{
						if (Model.Member?.avatar != null)
						{
							string imageBase64 = Convert.ToBase64String(Model.Member.avatar);
							string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
																					<img src="@imageSrc" alt="Room Image" class="img-fluid rounded-circle "
																					 	style="height: 200px; width: 200px; object-fit: cover;">
						}
						else
						{
																					<img src="~/images/peopleImg.png" alt="Room Image" class="img-fluid rounded-circle "
																					 	style="height: 200px; width: 200px; object-fit: cover;">
						}
					}
				</div>
				<div class=" col-md-8 ">
					<div class=" card-body">
						<div class="d-flex justify-content-between border-bottom py-1">
							<h4 class="card-title">@Model.Member?.name</h4>
						</div>
						<div class="d-flex mt-3 introduce justify-content-between py-1">
							<p class="w-25 card-text">性別</p>
							<p class="w-75 card-text">@Model.Member?.gender</p>
						</div>
						<div class="d-flex introduce justify-content-between py-1">
							<p class="w-25 card-text">出生日期</p>
							<p class="w-75 card-text">@Model.Member?.birthday</p>
						</div>
						<div class="d-flex introduce justify-content-between py-1">
							<p class="w-25 card-text">連絡電話</p>
							<p class="w-75 card-text">@Model.Member?.phone</p>
						</div>
						<div class="d-flex introduce mt-1">
							<p class="card-text">自我介紹</p>
							<!-- flex-grow: 1 自動填滿 -->
							<hr style=" flex-grow: 1;
                            border-style: solid;
                            border-color:black;
                            border-width: 1px;">
						</div>
						<div class="d-flex introduce">
							<p class="introduce">
								@Model.Member?.introduce
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- card結束 -->
		<div class="information-div">
			<h1 class="information-text">房東資訊</h1>
			<hr class="red-hr">
		</div>
		<div class="card">
			<div class="row d-flex">
				<div class="d-flex justify-content-start py-1">
					<p class="landlord">姓名</p>
					<p class="card-text">@Model.Landlord?.name</p>
				</div>
				<div class="d-flex justify-content-start py-1">
					<p class="landlord">性別</p>
					<p class="card-text">@Model.Landlord?.gender</p>
				</div>
				<div class="d-flex justify-content-start py-1">
					<p class="landlord">連絡電話</p>
					<p class="card-text">@Model.Landlord?.phone</p>
				</div>
			</div>
		</div>
		<!-- card結束 -->

		<div class="information-div">
			<h1 class="information-text">留言板</h1>
			<hr class="red-hr">
		</div>

		<!-- 背景區大小跟隨內容區大小變化 -->
		<div class="messageBackground p-3 w-100" style="height: auto; background-color:	#F0F0F0;">
			<!-- 內容區容器 -->
			<div class="messageArea overflow-auto CustomizedScroll" style="height: auto; max-height: 400px;">
				<!-- 動態生成區 -->
				<!-- 訊息區 -->
				@*<div class="messageItem mb-3 d-flex">
				<img src="~/img/search/people.jpg" alt="" class="object-cover rounded-circle me-2 user-shot">
				<div class="messageBubble p-2 rounded">
				<div class="d-flex align-items-center justify-content-between">
				<strong class="member-name">
				小李
				</strong>
				<span class="message-basement">B1</span>
				</div>
				<p class="message-text d-flex align-items-center">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam culpa
				</p>
				<span class="reply">回覆</span>
				<span class="messageTime">2024/10/20 20:00</span>
				</div>
				</div>*@
				@if (Model.roomMessages != null && Model.roomMessages.Any())
				{
					@foreach (var message in Model.roomMessages)
					{
						<div class="messageItem mb-3 d-flex">
							@{
								if (message.avatar != null)
								{
									string imageBase64 = Convert.ToBase64String(message.avatar);
									string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
																				<img src="@imageSrc" alt="" class="object-cover rounded-circle me-2 user-shot" id="user-shot">
								}
								else
								{
																				<img src="~/images/peopleImg.png" alt="" class="object-cover rounded-circle me-2 user-shot" id="user-shot">
								}
							}
							<div class="messageBubble p-2 rounded">
								<div class="d-flex align-items-center justify-content-between">
									<strong class="member-name" id="member-name">
										@message.member_name
									</strong>
									<strong class="message-basement">B@(message.message_basement)</strong>
								</div>
								<p class="message-text d-flex align-items-center">
									@if (!string.IsNullOrEmpty(message.reply_member_content))
									{
										<strong class="reply-member-name" id="reply-member-name">@message.reply_member_content: </strong>
									}
									@message.message_content
								</p>
								<span class="reply">回覆</span>
								<span class="messageTime">@message.post_time.ToString()</span>
							</div>
						</div>
					}
				}
				else
				{
					<div class=" mb-2 d-flex" id="No-message">
						<div class=" p-2  w-100 text-center text-muted">目前尚無留言，快來留下您的想法!!</div>
					</div>
				}

			</div>
			<div class="inputArea justify-content-end">
				<div class="input-group ps-2 ">
					<input type="text" class="form-control" placeholder="請輸入訊息...." id="inputMessage">
					<button class="btn btn-secondary" type="button" id="send">
						發送
					</button>
				</div>
			</div>
			<div class="mt-2 ms-2 d-none" id="cancel-reply">
				<span class="cancel-reply-text">取消回覆</span>
			</div>
		</div>

		<!-- 留言結束 -->
		<div class="d-flex justify-content-center py-5">
			@*測試名字*@
			@*<input type="text" class="form-control" placeholder="TestName" id="userName" style="width:100px;height:50px; margin-right:10px;">*@
			<button type="button" class="btn btn-danger me-3 " id="add-favorites-btn">加入收藏</button>
			<button type="button" class="btn btn-secondary me-3 d-none" id="remove-favorites-btn">移除收藏</button>
			<button type="button" class="btn btn-primary" id="share-room-btn"> 合租邀約</button>
		</div>
	</div>

	@*測試區*@
	<div>
		<p>@($"roomID: {Model.Room?.room_id} roomTitle:　{Model.Room?.room_title}")</p>
		<p id="memberData"></p>
		<button id="loginOut" type="submit">登出</button>
	</div>


	<button type="submit" id="btn1">click</button>
	@*會員彈出modal*@
	<div id="PartialMemberModal"></div>
	@*回覆彈出modal*@
	<div id="PartialReplyModal"></div>
	@*動畫效果*@
	<div id="alert-container"></div>
</section>
<script>
	$(function () {
		var isLogin = @JsonConvert.SerializeObject(ViewContext.HttpContext.Session.GetString("isLogin") == "true");
		//抓房間編號
		var roomID = @Model.Room?.room_id;
		//抓房間標題
		var roomTitle = "@Html.Raw(Model.Room?.room_title)";
		var memberID, memberName, memberEmail;
		if (isLogin) {
			memberID = String(sessionStorage.getItem("memberID"));
			memberName = String(sessionStorage.getItem("memberName"));
			memberEmail = String(sessionStorage.getItem("memberEmail"));
			//檢查房間是否匹配會員編號
			(async () => {
				try {
					const getMemberID = await disableFavoriteAndShareRoom();
					if (getMemberID != memberID) {
						console.log("匹配失敗");
						return;
					}
					console.log(`房間編號 "${roomID}" 對應登入會員 "${getMemberID}" 匹配成功`);
					$('#add-favorites-btn').prop('disabled', true);
					$('#share-room-btn').prop('disabled', true);
				} catch (error) {
					//抓throw error;
					console.error("發生錯誤:", error);
				}
			})();
		}
		console.log("會員 ID:", memberID);
		console.log("會員名稱:", memberName);
		console.log("會員 Email:", memberEmail);
		$('#memberData').text(`歡迎 ${memberID} ${memberName} ${memberEmail}`);
		$('#loginOut').click(function () {
			console.log("清除成功");
			sessionStorage.clear();
			$('#memberData').text("已清除會員資料");
		});
		
		//檢查收藏
		checkFavoriteRoom();
		//設備
		checkDevice();
		//上一頁	
		$('#return-btn').click(function () {
			window.history.back();
			setTimeout(function () {
				window.location.reload();
			}, 100);
		});
		// 建立 SignalR 連接
		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/chatHub", { accessTokenFactory: () => sessionStorage.getItem("loginID") })
			// 啟用自動重連
			.withAutomaticReconnect() 
			.build();

		// 啟動連接並處理錯誤
		connection.start()
			.then(() => {
				console.log("SignalR 連接已建立", connection.connectionId);
			})
			.catch(err => console.error("SignalR 連接失敗:", err.toString()));
		// 處理連接事件
		connection.onreconnecting((error) => {
			console.warn("SignalR 正在重新連接...", error);
		});

		connection.onreconnected((connectionId) => {
			console.log("SignalR 已重新連接。連接ID:", connectionId);
		});
		connection.onclose((error) => {
			console.error("SignalR 連接已關閉:", error);
		});
		// 接收從伺服器端傳來的參數
		connection.on("NewMessage", function (user, message) {
			//抓取最新樓層
			var latestBasementText = $('.message-basement:last').text();
			var latestBasementNumber = 1;
			//如果有
			if (latestBasementText) {
				var basementNumber = parseInt(latestBasementText.replace(/\D/g, ''));
				//提取到 +1
				if (!isNaN(basementNumber)) {
					latestBasementNumber = basementNumber + 1;
				}
			}
			//沒有樓層輸出B1
			var newBasementText = "B" + latestBasementNumber;
			console.log("最新樓層:", newBasementText);

			//分離文本內容
			var messageTime = getMessageTime();
			var replyMemberName = "";
			var messageContent = "";
			var replyName = "";
			const regex = /^(B\d+)\(([^)]+)\): (.*)$/;
			const match = message.match(regex);
			//匹配格式
			if (match) {
				replyMemberName = match[1] + '(' + match[2] + ')'; // "B1(老王)"
				replyName = match[2]; // "老王"
				messageContent = match[3]; // "test1"
			}
			else {
				messageContent = message;
			}
			console.log("登入會員編號= ", memberID);
			console.log("抓取回覆姓名= ", replyName);
			console.log("測試replyMemberName= ", replyMemberName);
			console.log("測試messageContent=", messageContent);
			//post留言到資料庫
			$.ajax({
				url: '@Url.Action("PostMessage", "Search")',
				type: "POST",
				data: {
					roomID: roomID, memberID: memberID, messageTime: messageTime,
					replyMemberContent: replyMemberName, messageContent: messageContent, replyName: replyName
				},
				success: function (response) {
					if (response.state) {
						console.log(response.message);
					} else {
						console.error("伺服器回應錯誤:", response.message);
						console.error("詳細錯誤資訊:", response);
					}
				},
				error: function (xhr, status, error) {
					ajaxError(xhr, status, error);
					const response = xhr.responseJSON;
					if (response) {
						console.error("調試資訊:", response.debugInfo || "無調試資訊");
					} else {
						console.error("未預期的錯誤:", xhr.responseText);
					}
				}
			});
			//抓當前登入會員圖片
			var imageSrc = "";
			$.ajax({
				url: '@Url.Action("GetMemberImage", "Search")',
				type: "POST",
				data: { memberID: memberID },
				// 確保接收的是二進制數據
				xhrFields: {
					responseType: "arraybuffer"
				},
				success: function (response) {
					// 處理成功的圖片數據
					const base64String = btoa(
						new Uint8Array(response).reduce((data, byte) => data + String.fromCharCode(byte), "")
					);
					imageSrc = `data:image/jpeg;base64,${base64String}`;
					//檢查二進制數據
					// console.log("圖片來源已更新:", imageSrc);
					//發送留言
					var newMessage = `<div class="messageItem mb-3 d-flex">
									<img src="${imageSrc}" alt="" class="object-cover rounded-circle me-2 user-shot" style="min-width: 40px; height: 40px;">
									<div class="messageBubble p-2 rounded">
									<div class="d-flex align-items-center justify-content-between">
											<strong class="member-name">
												${user}
											</strong>
												<strong class="message-basement">${newBasementText}</strong>
										</div>
										<p class="message-text d-flex align-items-center">
												${replyMemberName ? `<span class="reply-member-name" id="reply-member-name">${replyMemberName}: </span>` : ''}
											${messageContent}
										</p>
										<span class="reply">回覆</span>
										<span class="messageTime">${messageTime}</span>
									</div>
									</div>`;
					$('.messageArea').append(newMessage);
					$('#No-message').remove();
				},
				error: function (xhr,status,error) {
					try {
						//將二進制資料轉換為json
						const response = JSON.parse(String.fromCharCode.apply(null, new Uint8Array(xhr.response)));
						ajaxError(response, xhr, status, error);
					} catch (e) {	
						console.error("未預期的伺服器錯誤:", xhr.responseText || xhr.statusText);
					}
				}
			});

			//自動滾動
			var messageArea = $('.messageArea');
			var lastMessage = $('.messageItem').last();
			setTimeout(() => {
				// 計算滾動目標位置
				var scrollTarget = lastMessage.offset().top + messageArea.scrollTop() - messageArea.offset().top + 5000;  // +向下滾動
				messageArea.animate({ scrollTop: scrollTarget }, 500);
			}, 100);
		});

		// 發送消息
		$('#send').click(function () {
			if (!isLogin) {
				$('#alert-container').load('/Search/Alert', {
					Color: 'danger',
					AlertText: '請登入會員!!',
					Show: true,
					Time: 1000
				});
			}
			else {
				var userName = sessionStorage.getItem("memberName");//測試
				var messageTime = getMessageTime();
				console.log("檢查發送留言roomID= ", roomID);
				//接收訊息輸入
				var inputMessage = $('#inputMessage').val().trim();
				if (inputMessage.length <= 0) {
					alert("請輸入訊息");
					return;
				}
				else if (inputMessage.startsWith("回覆") && inputMessage.includes(":")) {
					const parts = inputMessage.split(":");
					if (parts[1].trim().length <= 0) {
						alert("請輸入回覆的訊息");
						return;
					}
				}

				// 觸發server端事件
				connection.invoke("SendMessage", userName, inputMessage).catch(function (err) {
					return console.error("錯誤", err.toString());
				});
				$('#inputMessage').val('');
				//移除事件
				$('#inputMessage').off('input');
			}
		});

		//回復
		$('.messageArea').on('click', '.reply', function () {
			if (!isLogin) {
				$('#alert-container').load('/Search/Alert', {
					Color: 'danger',
					AlertText: '請登入會員!!',
					Show: true,
					Time: 1000
				});
			}
			else{
				//取消回覆
				$('#cancel-reply').removeClass('d-none');
				//名字
				const name = $(this).closest('.messageBubble').find('.member-name').text().trim();
				//最新樓層
				const messageBasement = $(this).closest('.messageBubble').find('.message-basement').text().trim();
				var latestBasement = $('.message-basement:last').text();
				console.log("測試latestBasement= ", latestBasement);
				console.log("測試name= ", name);
				console.log("測試messageBasement= ", messageBasement);
				const replyText = `${messageBasement}(${name}): `;
				$('#inputMessage').val(replyText);
				// 將輸入焦點移到輸入框
				$('#inputMessage').focus();
				// 防呆：防止用戶刪除回覆姓名
				$('#inputMessage').on('input', function () {
					const currentText = $(this).val();
					if (!currentText.startsWith(replyText)) {
						$(this).val(replyText);
					}
				});
			}	
		});

		//取消回覆
		$('#cancel-reply').click(function () {
			console.log("取消回覆");
			$('#inputMessage').val('');
			$(this).addClass('d-none');
			// 移除防呆事件
			$('#inputMessage').off('input');
		});

		//收藏
		$('#add-favorites-btn').click(function () {
			if (!isLogin) {
				$('#alert-container').load('/Search/Alert', {
					Color: 'danger',
					AlertText: '請登入會員!!',
					Show: true,
					Time: 1000
				});
			}
			else {
				console.log("memberID= ", memberID, roomID, roomTitle);
				//加入收藏功能
				$.ajax({
					url: '@Url.Action("FavoriteRoom", "Member")',
					type: "POST",
					data: { roomID: roomID, memberID: memberID },
					success: function (response) {
						console.log(response.message, response.state);
						$('#add-favorites-btn').addClass('d-none');
						$('#remove-favorites-btn').removeClass('d-none');
						$('#alert-container').load('/Search/Alert', {
							Color: 'success',
							AlertText: '收藏成功!!',
							Show: true,
							Time: 1000
						});
					},
					error: ajaxError
				});
			}
		});
		$('#remove-favorites-btn').click(function () {
			console.log("memberID= ", memberID, roomID, roomTitle);
			$.ajax({
				url: '@Url.Action("RemoveFavoriteRoom", "Member")',
				type: "POST",
				data: { roomID: roomID, memberID: memberID },
				success: function (response) {
					console.log(response.message, response.state);
					$('#remove-favorites-btn').addClass('d-none');
					$('#add-favorites-btn').removeClass('d-none');
					$('#alert-container').load('/Search/Alert', {
						Color: 'success',
						AlertText: `已移除收藏!!`,
						Show: true,
						Time: 1000
					});
				},
				error: ajaxError
			});
		});

		//房間設備 環境公設
		function checkDevice() {
			console.log("checkDevice_roomID= ", roomID);
			$.ajax({
				url: '@Url.Action("GetRoomDevice", "Search")',
				type: 'POST',
				data: { roomID: roomID },
				success: function (response) {
					if (response.state) {
						const device = {
							'bed': response.data.bed,
							'wardrobe': response.data.wardrobe,
							'room_table': response.data.room_table,
							'chair': response.data.chair,
							'kitchen': response.data.kitchen,
							'private_washer': response.data.private_washer,
							'extinguisher': response.data.extinguisher,
							'tv': response.data.tv,
							'wifi': response.data.wifi,
							'monitor': response.data.monitor,
							'balcony': response.data.balcony,
							'elevator': response.data.elevator,
							'public_washer': response.data.public_washer,
							'trash_cart': response.data.trash_cart,
							'keep_pet': response.data.keep_pet,
							'smoking': response.data.smoking
						};
						$.each(device, function (index, value) {
							if (!value) {
								$('#' + index).find('span').addClass('noDevice');
								$('#' + index).find('.room-text').removeClass('room-text');
								$('#' + index).find('span').removeClass('text-success');
							}
						});
					}
				},
				error: ajaxError
			});
		}
		function checkFavoriteRoom() {
			$.ajax({
				url: '@Url.Action("checkFavoriteRoom", "partialView")',
				type: 'POST',
				data: { memberID: memberID },
				success: function (response) {
					if (response.includes(@(Model.Room?.room_id)) {
						$('#add-favorites-btn').addClass('d-none');
						$('#remove-favorites-btn').removeClass('d-none');
					}
				},
				error: ajaxError
			});
		}

		//圖片點擊
		$('.messageArea').on('click', '#user-shot', function () {
			const memberName = $(this).siblings('.messageBubble').find('.member-name').text().trim();
			// console.log(memberName);
			$.ajax({
				url: '/Search/MessageMember',
				type: 'POST',
				data: { memberName: memberName },
				success: function (html) {
					$('#PartialMemberModal').html(html);
					$('#MemberModal').modal('show');
				},
				error: ajaxError
			});
		});
		//名字點擊
		$('.messageArea').on('click', '#member-name', function () {
			const memberName = $(this).text().trim();
			$.ajax({
				url: '/Search/MessageMember',
				type: 'POST',
				data: { memberName: memberName },
				success: function (html) {
					$('#PartialMemberModal').html(html);
					$('#MemberModal').modal('show');
				},
				error: ajaxError
			});
		});
		//點擊已回覆樓層
		$('.messageArea').on('click', '#reply-member-name', function () {
			const replyText = $(this).text();
			const replyBasementRegex = replyText.match(/^B(\d+)\(/);
			const replyBasement = replyBasementRegex[1];
			console.log(replyBasement, "roomID=", roomID);
			$.ajax({
				url: '/Search/PostReplyBasement',
				type: 'POST',
				data: { replyBasement: replyBasement, roomID: roomID },
				success: function (html) {
					$('#PartialReplyModal').html(html);
					$('#ReplyModal').modal('show');
				},
				error: ajaxError
			});
		});
		//抓時間
		function getMessageTime() {
			const Time = new Date();
			const messageTime = Time.toLocaleString('zh-TW', {
				year: 'numeric',
				month: '2-digit',
				day: '2-digit',
				hour: '2-digit',
				minute: '2-digit',
				hour12: false, // 24小時制
				timeZone: 'Asia/Taipei',
			});
			return messageTime;
		}
		//通用錯誤函式
		function ajaxError(response, xhr, status, error) {
			try {
				console.error("伺服器錯誤:", response.message || "未提供錯誤訊息");
				console.error("詳細錯誤:", response.error || "未提供詳細錯誤訊息");
				console.error("內部例外:", response.innerException || "無內部例外");
				console.error("堆疊追蹤:", response.stackTrace || "無堆疊追蹤");
				console.error("調試資訊:", response.debugInfo || "無調試資訊");
			} catch (e) {
				console.error("未預期的伺服器錯誤:", xhr.responseText || xhr.statusText || "無響應文本");
			}
			console.log("AJAX 狀態:", status || "未知狀態");
			console.log("AJAX 錯誤:", error || "未知錯誤");
		}
		//合租
		$('#share-room-btn').click(function () {
			if (!isLogin) {
				$('#alert-container').load('/Search/Alert', {
					Color: 'danger',
					AlertText: '請登入會員!!',
					Show: true,
					Time: 1000
				});
			}
			else {
				$('#alert-container').load('/Search/Alert', {
					Color: 'success',
					AlertText: '已發出合租邀約!!',
					Show: true,
					Time: 1000
				});
			}
		});
		
		async function disableFavoriteAndShareRoom(){
			try {
				const response = await $.ajax({
					url: '/Search/disableFavoriteAndShareRoom',
					type: 'POST',
					data: { roomID: roomID }
				});
				console.log("ajax房間對應登入會員編號", response.getMemberID);
				return response.getMemberID;
			}
			catch (error) {
				console.error("Ajax錯誤:", error);
				throw error; 
			}		
		}
		//$(function ()	結束
	});
</script>
